{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --cache --fix",
        "prettier --write",
        "git add"
    ],
    "src/**/*.{scss,}": [
        "prettier --write",
        "git add"
    ]
}
